@{
    ViewBag.Title = "用户管理";
    
}
<!--字体样式-->
    <style type="text/css">

    .font1
    {
        font-size: 16px;
        font-family:'Microsoft YaHei UI';
    }
        .div1
        {
            margin-top:10px;
            margin-bottom:10px;  
        }
        
    </style>

<!--字体样式-->

<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- Nav bar-->



<!-- 用户管理列表 -->
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
<div class="panel panel-primary">
		<div class="panel-heading">
         <div class="row">
            <div class="col-lg-1"></div>
	        <div class="col-lg-2 font1" style="text-align:left">
                 用户列表
	        </div>
  
	       <div class="col-lg-6" style="text-align:left">
               <div class="col-sm-1"></div>
               <div class="col-sm-8"><input type="text"  class="form-control" placeholder="请输入你要查询的用户ID号" ></div>
               <div class="col-sm-1"><button class="btn btn-success" type="submit">查询</button></div>
           </div>
	       <div class="col-lg-3">
                <div class="pull-right">
                     @Html.ActionLink("新增", "UserInfo", "User", new { userName="",oprate="create"}, new { @class = "btn btn-success" })           
 
                </div>
          </div>
  
        </div><!-- /.row -->
						
	  </div><!-- /head-->
					
		<div class="panel-body"  >
             <table class="table table-bordered" >
                <thead>
                    <tr>
                            <th>用户名</th>
 
                            <th>状态</th>
                            <th>权限</th>
                            <th>推荐人</th>
                            <th>操作</th>

                    </tr>
                </thead>
                <tbody>
               
  
						 @for (var i = 0; i < @ViewBag.UserListCount; i++)
						 { 
						      <tr>
                                <td>@ViewBag.UserList[i].UserName</td>
								<td>@ViewBag.UserList[i].Status</td>
           			            <td>@ViewBag.UserList[i].Permission</td>
								<td>@ViewBag.UserList[i].RecommendUserName</td>
                            
                                <td>@Html.ActionLink("修改", "UserInfo", "User", new { userName = @ViewBag.UserList[i].UserName,operate = "modify"}, new { @class = "btn btn-primary" })</td>
					                </tr>
						 }  
                                 
    
                   
                </tbody>
             </table>
        </div>
    </div>

    </div>
    <div class="col-lg-2"></div>
</div>
	