
<!DOCTYPE html>
<html lang="cn">
	<head>
		<title>@ViewBag.Title</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge”>
        <link href="~/Content/icon/icon.ico" rel="shortcut icon" type="image/x-icon" />
       	<link rel="stylesheet" href="css/bootstrap.css" />

        @Styles.Render("~/Content/bootstrap/css/bootstrap.css")
        @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
        @Styles.Render("~/Content/bootstrap/css/bootstrap-responsive.min.css")
        @Scripts.Render("~/bundles/modernizr")    
        @Scripts.Render("~/bundles/bootstrapjs")  
        @Scripts.Render("~/Scripts/jquery-1.8.3.min.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/Scripts/unicorn.form_validation.js")
        @Scripts.Render("~/Scripts/jquery.validate.min.js")
        @Scripts.Render("~/Scripts/select2.min.js")
        <style type="text/css">  
          .align-center{  
              margin-top:50px;      /* 居中 这个是必须的，，其它的属性非必须 */      
             text-align:center;  /* 文字等内容居中 */  
            }  
         </style>  

    </head>
    <body>
        <div class="container">
            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div> 
         </div>   
             

    </body>
</html>
