
<!DOCTYPE html>
<html lang="cn">
	<head>
		<title>@ViewBag.Title</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="~/Content/icon/icon.ico" rel="shortcut icon" type="image/x-icon" />
       	<link rel="stylesheet" href="css/bootstrap.css" />
        @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
         @Styles.Render("~/Content/bootstrap/css/bootstrap-responsive.min.css")
        @Scripts.Render("~/bundles/modernizr")    
        @Scripts.Render("~/bundles/bootstrapjs")  
        @Scripts.Render("~/Scripts/jquery-1.8.3.min.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")



    </head>
    <body>
        <!--navbar--->
        <div class="container">


		    <div class="container-fluid">
			    <nav class="navbar nav-pills " role="navigation">
				    <div class="container-fluid">
					    <ul class="nav nav-pills nav-justified " role="tablist">
					      <li ><font face="微软雅黑" size="4px">
                              
                            @Html.ActionLink("首页", "Index", "Home", null, new { @class="active"})</font>	
                            </li>
					      <li><font face="微软雅黑" size="4px">
                              
                             @Html.ActionLink("游戏大厅","Hall","Game",null,null)  </font></li>
					      <li><a href="#"><font face="微软雅黑" size="4px">积分管理</font></a></li>
					      <li><a href="#"><font face="微软雅黑" size="4px">借贷</font></a></li>
					      <li><a href="#"><font face="微软雅黑" size="4px">日志</font></a></li>
					      <li><a href="#"><font face="微软雅黑" size="4px">联系我们</font></a></li>
				       </ul>
				    </div>
		  	    </nav>
		    </div>
          </div>  
            <!--navbar--->   
        <div class="container">


   
                
             <!-- 用户信息 -->
     		<div>
                 @RenderPage("_LoginPartial.cshtml")
			</div><!-- 用户信息 -->


            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div> 
         </div>   
             
        <hr/>
        <div class="container">
            <footer class="bs-docs-footer" role="contentinfo">
                <p>Designed by Fuego</p>
            </footer>
        </div>
    </body>
</html>
