
<!DOCTYPE html>
<html lang="cn">
	<head>
		<title>@ViewBag.Title</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="~/Content/icon/icon.ico" rel="shortcut icon" type="image/x-icon" />
       	<link rel="stylesheet" href="css/bootstrap.css" />
        @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
        @Scripts.Render("~/bundles/modernizr")
        <style>
			body{padding-top:70px}
		</style>
	

    </head>
    <body>
        <!--navbar--->
        <div class="container">


		    <div class="container-fluid">
			    <nav class="navbar nav-pills " role="navigation">
				    <div class="container-fluid">
					    <ul class="nav nav-pills nav-justified " role="tablist">
					      <li class="active"><a href="#">首页</a></li>
					      <li><a href="#">游戏大厅</a></li>
					      <li><a href="#">积分管理</a></li>
					      <li><a href="#">借贷</a></li>
					      <li><a href="#">日志</a></li>
					      <li><a href="#">联系我们</a></li>
				       </ul>
				    </div>
		  	    </nav>
		    </div><!--navbar--->      
                
             <!-- 用户信息 -->
     		<div>
                 @RenderPage("_LoginPartial.cshtml")
			</div><!-- 用户信息 -->


            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div> 
         </div>   
             
        <hr/>
        <div class="container">
            <footer class="bs-docs-footer" role="contentinfo">
                <p>Designed by Fuego</p>
            </footer>
        </div>
    </body>
</html>
