@model LotterySystem.Models.LoginModel
@{
    ViewBag.Title = "主页";
}
       
    <div id="head"> 
         @RenderPage("LoginHead.cshtml")
    </div>
	 <!-- Main Context-->
		<div class="row">
			<!-- Left-->
			<div class="col-lg-3">
			    
                <div id="left1"> 
				    @RenderPage("../Cbb/UserInfo.cshtml")
				</div>
                <div id="left2"> 
				    @RenderPage("../User/UserHistory.cshtml")
				</div>
                <div id="left3"> 
				    @RenderPage("Ranking.cshtml")
				</div>
				<div id="left4"> 
				   
				</div>
                <div id="left5"> 
				    
				</div>
				
				                                
            </div><!-- Left-->
			
			<!-- Center-->
			<div class="col-lg-5">
                <div id="pageCenter">
			        @RenderPage("IndexInfo.cshtml")
                </div>
			</div><!-- Center-->
			
			<!-- right-->
			<div class="col-lg-4">
			
				<!-- 趋势图-->
						<div class="panel panel-primary">
						<div class="panel-heading">
							趋势图
						</div>
						<div class="panel-body">
						</div>	
					</div><!-- 趋势图-->
			
			</div><!-- right-->

        
      </div> <!-- row -->
   
