@model LotterySystem.Models.LoginModel
@{
    ViewBag.Title = "主页";
}
       

    <div id="head"> 
         @RenderPage("LoginHead.cshtml")
    </div>
	 <!-- Main Context-->
		<div class="row">
			<!-- Left-->
			<div class="col-lg-3">
			    
                <div id="left1"> 
<<<<<<< HEAD
                    @RenderPage("Ranking.cshtml")
				   
=======
                    
				   @RenderPage("Ranking.cshtml")
>>>>>>> e7db1a2aede616fd10074c90251acddb282f83b3
				</div>
                <div id="left2"> 
				    
				</div>
                <div id="left3"> 
				    
				</div>
				<div id="left4"> 
				   
				</div>
                <div id="left5"> 
				    
				</div>
				
				                                
            </div><!-- Left-->
			
			<!-- Center-->
			<div class="col-lg-5">
                <div id="pageCenter">
			        @RenderPage("IndexInfo.cshtml")
                </div>
			</div><!-- Center-->
			
			<!-- right-->
			<div class="col-lg-4">
			
                <div id="right1">
<<<<<<< HEAD
               
                   @RenderPage("../Game/Cbb/GameSelect.cshtml")    
=======
                 @RenderPage("../Game/Cbb/GameSelect.cshtml")
                     
>>>>>>> e7db1a2aede616fd10074c90251acddb282f83b3
                </div>
                <div id="right2">


                </div>
               
			
			</div><!-- right-->

        
      </div> <!-- row -->
   
