@{
    ViewBag.Title = "Nav";
   
}

      <!-- nav navbar -->
      <div class="navbar navbar-default" role="navigation">
        
          <div class="navbar-header">

            @Html.ActionLink("首页", "Hall", "Game", null, new { @class="navbar-brand"})
          </div>
          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              <li >
                   @Html.ActionLink("用户", "UserInfo", "User", null, null)
                </li>
              <li>@Html.ActionLink("房间", "RoomEdit", "Game", null, null)

              </li>
              <li>@Html.ActionLink("积分", "UserAccount", "User", null, null)

              </li>
              <li> @Html.ActionLink("日志", "Loginlog", "Log", null, null)
                 </li>
              <li>
                  @Html.ActionLink("退出", "Index","Home",null, null)
                 </li>
            </ul>
          </div>
        </div>
     
 <!--navbar--->
