@{
    ViewBag.Title = "导航栏";
   
}

      <!-- nav navbar -->
      <div class="navbar navbar-default" role="navigation">
        
          <div class="navbar-header" style="text-align:center">

          
       @Html.ActionLink("游戏大厅", "Hall", "Game", null, new { @class="navbar-brand"})

      
           </div>
          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              <li >
                   @Html.ActionLink("修改密码", "PasswordSet", "User", null, null)
              </li>
              <li>
                    @Html.ActionLink("系统管理", "SystemManage", "Home", null, null)
              </li>
              <li>@Html.ActionLink("用户管理", "UserManage", "User", null, null)

              </li>
              <li>@Html.ActionLink("游戏管理", "GameManage", "Game", null, null)

              </li>
              <li>@Html.ActionLink("积分管理", "ScoreLog", "Log", null, null)

              </li>
              <li> @Html.ActionLink("日志", "Loginlog", "Log", null, null)
                 </li>
              <li>
                  @Html.ActionLink("退出", "LogOff","Login",null, null)
                 </li>
            </ul>
          </div>
        </div>
     
 <!--navbar--->
