@{
    ViewBag.Title = "导航栏";

    LotterySystem.Models.UserModel user = (LotterySystem.Models.UserModel)Session["SystemUser"];
     
}



<!--navbar--->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a> @Html.ActionLink("游戏大厅", "Hall", "Game", null, new { @class = "navbar-brand" })</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
             <li>
                @Html.ActionLink("修改密码", "PasswordSet", "User", null, null)
            </li>

            @if (user.Permission.Contains("系统"))
            {
                <li>
                    @Html.ActionLink("系统管理", "SystemManage", "Home", null, null)
                </li>
                
                
            }
              @if (user.Permission.Contains("游戏"))
            {
                <li>
                    @Html.ActionLink("游戏管理", "GameManage", "Game", null, null)
                </li>
            }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("用户审核", "UserApprove", "User", null, null)</li>
                        @if (user.Permission.Contains("用户"))
                        {
                            <li>@Html.ActionLink("用户管理", "UserManage", "User", null, null)</li>
                        }
                    </ul>
                </li>
 
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">积分管理</a>   
                    <ul class="dropdown-menu" role="menu">
                        <li> @Html.ActionLink("积分记录", "ScoreRecord", "Score", null, null)</li>
                        <li> @Html.ActionLink("积分申借", "ScoreManage", "Score", null, null)</li>
				
                    </ul>

                </li>

            @if (user.Permission.Contains("日志"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">日志</a>   
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("登录日志", "Loginlog", "Log", null, null)</li>
                        <li> @Html.ActionLink("积分日志", "ScoreLog", "Log", null, null)</li>
				
                    </ul>

                </li>

            }

            <li>
                @Html.ActionLink("退出", "LogOff", "Login", null, null)
            </li>
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if(@ViewBag.SuccessMsg!=null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>操作结果: </strong>@ViewBag.SuccessMsg
                </div>
            }

             @if(@ViewBag.ErrorMsg!=null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>操作结果: </strong>@ViewBag.ErrorMsg
                </div>
            }
             @if(@ViewBag.InfoMsg!=null)
            {
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>操作结果: </strong>@ViewBag.InfoMsg
                </div>
            }

        </div>
    </div>
        
</div>