@{
    ViewBag.Title = "TitleLogIn";
    LotterySystem.Models.UserModel user = (LotterySystem.Models.UserModel)@Session["SystemUser"];

}



<!-- 房间列表 -->
				<div class="panel panel-primary">
    <div class="panel-heading" style="height:60px">
        <span style="font-size:25px">房间列表</span>
        <span class="pull-right"> <input type="button"  onclick="javascript: history.back(-1);" value="返回" class="btn btn-default"></span>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tr>
                    <td>房间名称</td>
                    <td>准入底分</td>
                    <td>起投分值</td>
                    <td>增幅</td>
                    <td>上庄底值</td>
		    <td>操作</td>
                    <td>管理</td>
                </tr>
                @if (@ViewBag.RoomList == null || @ViewBag.RoomListCount==0)
                {

                }
                else
                {
                    for(int i = 0;i<@ViewBag.RoomListCount;i++){
                         <tr>
                            <td>
                              @ViewBag.RoomList[i].RoomName
                            </td>
                            <td>@ViewBag.RoomList[i].AccessAcountLimit</td>
                            <td>@ViewBag.RoomList[i].BasicPoint</td>
                            <td>@ViewBag.RoomList[i].Amplification</td>
                            <td>@ViewBag.RoomList[i].BankerPointLimited</td>			    
			                <td> 
			    	            @Html.ActionLink("进入房间", "TablePage", "Game",  new { roomName=@ViewBag.RoomList[i].RoomName},  new { @class = "btn btn-primary" })
                            </td>
                           
                            <td>
                                @if (ViewBag.RoomList[i].RoomHost.Equals(user.UserName))
                                {   	
						            @Html.ActionLink("房间管理", "RoomEdit", "Game", null,  new { @class = "btn btn-primary" })
                                }
                                else
                                {
        
                                }
                                
                            </td>
                        </tr>
                    }                  
                }
            </table>
        </div>
    </div>
</div>
