@{
    ViewBag.Title = "RoomList";
    
}
<!-- 房间列表 -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						房间列表
					</div>
					
					<div class="panel-body" >
						<div class="table-responsive">
							<table class="table table-condensed">
								<tr>
								  <td>房号</td>
								  <td>房间名称</td>
								  <td>房主</td>
								  <td>状态</td>
								  <td>准入</td>
								  <td>起投</td>
								  <td>增幅</td>
								  <td>进入</td>
								</tr>

                                @for (var i = 0; i < @ViewBag.roomSize; i++)
                                {
								    <tr>
								      <td>@ViewBag.roomList[i].RoomNum</td>
								      <td><a href="">@ViewBag.roomList[i].RoomName</a></td>
								      <td>@ViewBag.roomList[i].HostName</td>
								      <td>@ViewBag.roomList[i].RoomStatus</td>
								      <td>@ViewBag.roomList[i].PlayerLimit</td>
								      <td>@ViewBag.roomList[i].BasicPoint</td>
								      <td>@ViewBag.roomList[i].Amplification</td>
								     
                                      <td>@Ajax.ActionLink("进入", "TabelList", "Game", new AjaxOptions { UpdateTargetId = "pageCenter" },new { @class = "btn btn-primary btn-xs" })</td>
								    </tr>
                                 }
							</table>
						</div>
						
					</div>
				</div><!-- 游戏资讯-->