@{
    ViewBag.Title = "游戏管理";
   
}
<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>

<div class="row">
    <!-- Left-->
    <div class="col-lg-3">

        <div id="left1">
        </div>


    </div>
    <!-- Left-->

    <!-- Center-->
    <div class="col-lg-5">

    </div>
    <!-- Center-->

    <!--right-->
    <div class="col-lg-4">
        <div id="right1"  class="pull-right">
            @Html.ActionLink("创建游戏", "NewGame", "Game", null, new { @class = "btn btn-success" })
             
        </div>

    </div>
    <!--right-->
</div>	
	
	<br/>		
				<div class="panel panel-primary">
					<div class="panel-heading">
						游戏列表
					</div>
					
					<div class="panel-body" >
						<div class="table-responsive">
								<table class="table table-condensed">
								<tr>
								  <td>游戏名称</td>
								  <td>游戏状态</td>
								  <td>OS支持</td>
								  <td>浏览器支持</td>
								  <td>税率</td>
								  <td>总限房</td>
								  <td>单人限房</td>
								  <td>单房限桌</td>
								  <td>单桌限人</td>
								  <td>选号限秒</td>
								  <td>投注限秒</td>

                                  								  
								</tr>
                              
							    <tr >
								     @for (var i = 0; i < @ViewBag.GameListCount; i++)
						            { 
                                      <td>@ViewBag.GameList[i].GameName</td>
								      <td>@ViewBag.GameList[i].gameStatus</td>
								      <td>@ViewBag.GameList[i].os</td>
								      <td>@ViewBag.GameList[i].browser</td>
								      <td>@ViewBag.GameList[i].taxRate</td>
								      <td>@ViewBag.GameList[i].allRoomLimit</td>
								      <td>@ViewBag.GameList[i].onePersonRoomLimit</td>
								      <td>@ViewBag.GameList[i].oneRoomTableLimit</td>
								      <td>@ViewBag.GameList[i].oneTablePersonLimit</td>
								      <td>@ViewBag.GameList[i].bankerSelectNumTimeLimit</td>
								      <td>@ViewBag.GameList[i].playerSelectNumTimeLimit</td>
								      <td>@Html.ActionLink("修改游戏", "GameEdit", "Game", null, new { @class = "btn btn-primary" })</td>
							         }  
                                </tr>							            
								                        
							</table>
						</div>
						
					</div>
				</div>