@{
    ViewBag.Title = "游戏管理";
   
}
<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>

<div class="row">
    <!-- Left-->
    <div class="col-lg-3">

        <div id="left1">
        </div>


    </div>
    <!-- Left-->

    <!-- Center-->
    <div class="col-lg-5">

    </div>
    <!-- Center-->

    <!--right-->
    <div class="col-lg-4">
        <div id="right1"  class="pull-right">
            <!--@Html.ActionLink("创建游戏", "NewGame", "Game", null, new { @class = "btn btn-success" })-->
             
        </div>

    </div>
    <!--right-->
</div>	
	
	<br/>		
				<div class="panel panel-primary">
					<div class="panel-heading">
						游戏列表
					</div>
					
					<div class="panel-body" >
						<div class="table-responsive">
								<table class="table table-condensed">
								<tr>
								  <td>游戏名称</td>
								  <td>游戏状态</td>
								  <td>OS支持</td>
								  <td>浏览器支持</td>
								  <td>税率</td>
								  <td>总限房</td>
								  <td>单人限房</td>
								  <td>单房限桌</td>
								  <td>单桌限人</td>
								  <td>选号限秒</td>
								  <td>投注限秒</td>
                                  <td>操作</td>

                                  								  
								</tr>
                              
							    <tr >
								     @for (var i = 0; i < @ViewBag.GameListCount; i++)
						            { 
                                      <td>@ViewBag.GameList[i].GameName</td>
								      <td>@ViewBag.GameList[i].GameStatus</td>
								      <td>@ViewBag.GameList[i].Os</td>
								      <td>@ViewBag.GameList[i].Browser</td>
								      <td>@ViewBag.GameList[i].TaxRate</td>
								      <td>@ViewBag.GameList[i].AllRoomLimit</td>
								      <td>@ViewBag.GameList[i].OnePersonRoomLimit</td>
								      <td>@ViewBag.GameList[i].OneRoomTableLimit</td>
								      <td>@ViewBag.GameList[i].OneTablePersonLimit</td>
								      <td>@ViewBag.GameList[i].BankerSelectNumTimeLimit</td>
								      <td>@ViewBag.GameList[i].PlayerSelectNumTimeLimit</td>
								      <td>@Html.ActionLink("修改", "GameInfo", "Game", new {gameName = @ViewBag.GameList[i].GameName}, new { @class = "btn btn-primary" })</td>
							         }  
                                </tr>							            
								                        
							</table>
						</div>
						
					</div>
				</div>