@{
    ViewBag.Title = "Hall";
}

<<<<<<< HEAD
<div id="head">
</div>
<!-- Main Context-->
<div class="row">
    <!-- Left-->
    <div class="col-lg-3">

        <div id="left1">
            @RenderPage("../User/UserInfo.cshtml")
        </div>
        <div id="left2">
            @RenderPage("../User/UserHistory.cshtml")
        </div>
        <div id="left3">
        </div>
        <div id="left4">
        </div>
        <div id="left5">
        </div>


    </div>
    <!-- Left-->

    <!-- Center-->
    <div class="col-lg-5">
        <div id="pageCenter">
            @RenderPage("../Home/IndexInfo.cshtml")
        </div>
    </div>
    <!-- Center-->

    <!--right-->
    <div class="col-lg-4">
        <div id="right1">
            @RenderPage("../Game/Cbb/GameSelect.cshtml")

        </div>

        <div id="right2">
        </div>
    </div>

    <!--right-->
</div>
<!-- row -->
=======
  <div id="head"> 
        
  </div>
	 <!-- Main Context-->
		<div class="row">
			<!-- Left-->
			<div class="col-lg-3">
			    
                <div id="left1"> 
				   @RenderPage("../User/UserInfo.cshtml")
				</div>
                <div id="left2"> 
				   @RenderPage("../User/UserHistory.cshtml")
				</div>
                <div id="left3"> 
				   
				</div>
				<div id="left4"> 
				   
				</div>
                <div id="left5"> 
				    
				</div>
				
				                                
            </div><!-- Left-->
			
			<!-- Center-->
			<div class="col-lg-5">
                <div id="pageCenter">
			         @RenderPage("../Home/IndexInfo.cshtml")
                </div>
			</div><!-- Center-->
			
			<!--right-->
            <div class="col-lg-4">
                <div id="right1">
                     @RenderPage("../Game/Cbb/GameSelect.cshtml")
                     
                </div>
                
                <div id="right2">
                   
                </div>
            </div>

            <!--right-->
      </div> <!-- row -->
>>>>>>> e7db1a2aede616fd10074c90251acddb282f83b3
