@{
    ViewBag.Title = "游戏大厅";
}
<!--字体样式-->
    <style type="text/css">
        .font1
        {
            font-size: 16px;
            font-family: 'Microsoft YaHei UI';
        }

        .div1
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

<!--字体样式-->

<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- operation menu-->

<!--Hall-->
<hr />

<div class="row">
    <!-- Left-->
    <div class="col-lg-3" style="text-align:center">
      <div>
             
      </div>
    </div>
    <div class="col-lg-6">

        <div id="left1" >
<!-- 游戏列表 -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						游戏列表
					</div>
					
					<div class="panel-body"style="text-align:center" >
						<div class="table-responsive">
							<table class="table table-condensed">

								@for (var i = 0; i < @ViewBag.GameListCount; i++)
						            { 
                                    <tr>
                                        <td class="font1">@ViewBag.GameList[i].GameName</td>
                                        <td>@Html.ActionLink("进入", "RoomPage", "Game", new { gameNameArg = @ViewBag.GameList[i].GameName},  new { @class="btn btn-primary"})</td>
                                    </tr>
							       }

                            </table>
						</div>
						
					</div>
				</div>  
<!-- 游戏列表 -->
          
         

        </div>
        <hr />
        <div id="left2" style="text-align:center">
            
  
        </div>



    </div>
    <!-- Left-->




    <!--right-->
    <div class="col-lg-3" style="text-align:center">
      <div>
             
      </div>
    </div>
    <!--right-->


</div>

<!--Hall-->

