@{
    ViewBag.Title = "RoomPage";
}

  <div id="head"> 
        
  </div>
	 <!-- Main Context-->
		<div class="row">
			<!-- Left-->
			<div class="col-lg-3">
			    
                <div id="left1"> 
<<<<<<< HEAD
				    @RenderPage("../User/UserInfo.cshtml")
				</div>
                <div id="left2"> 
				   @RenderPage("../User/UserHistory.cshtml")
=======
				    
                     @RenderPage("../User/UserInfo.cshtml")
				</div>
                <div id="left2"> 
				    @RenderPage("../User/UserHistory.cshtml")
>>>>>>> e7db1a2aede616fd10074c90251acddb282f83b3
				</div>
                <div id="left3"> 
				    
				</div>
				<div id="left4"> 
				   
				</div>
                <div id="left5"> 
				    
				</div>
				
				                                
            </div><!-- Left-->
			
			<!-- Center-->
			<div class="col-lg-9">
                <div id="pageCenter">
			        @RenderPage("../Game/Cbb/RoomList.cshtml")
                </div>
			</div><!-- Center-->

<<<<<<< HEAD
            		
=======

>>>>>>> e7db1a2aede616fd10074c90251acddb282f83b3
			
			
        
      </div> <!-- row -->
