@{
    ViewBag.Title = "LoginLog";
}

<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- operation menu-->

<hr />
<!-- 登录日志 -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						登录日志查看
					</div>
					
					<div class="panel-body" >
						<div class="table-responsive">
							<table class="table table-condensed">
								<tr>
								  <td>用户名</td>
								  <td>登录时间</td>
								  <td>登录结果</td>
								  <td>操作系统</td>
								  <td>浏览器</td>
								  
                                  								  
								</tr>

    
								 
								     @for (var i = 0; i < @ViewBag.LoginLogListCount; i++)
						            { 
                                       <tr >
                                      <td>@ViewBag.LoginLogList[i].UserName</td>
								      <td>@ViewBag.LoginLogList[i].LoginTime</td>
								      <td>@ViewBag.LoginLogList[i].Result</td>
								      <td>@ViewBag.LoginLogList[i].Os</td>
								      <td>@ViewBag.LoginLogList[i].Browser</td>
	                                   </tr>	
 							         }  
                                
								                   
							</table>
						</div>
						
					</div>
				</div>
<!--登录日志-->