@{
    ViewBag.Title = "UserAccount";
}

<div id="head" >
    @RenderPage("../Home/Nav.cshtml")
</div>
<!-- operation menu-->

<hr />
	<div class="row">
		<!-- Left-->
		<div class="col-lg-3">



		</div>
		<!-- Left-->

		<!-- Center-->
		<div class="col-lg-5">
			<div id="pageCenter">
			  
			</div>
		</div>
		<!-- Center-->

		<!--right-->
		<div class="col-lg-4">
			<div id="right1"  class="pull-right">
				　@Html.ActionLink("借还贷管理", "AccountBorrow", "User", null, new { @class = "btn btn-success" })
				
				 
			</div>

			<div id="right2">
			</div>
		</div>
		<!--right-->
	</div>	
<hr />
<!-- 积分表 -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						积分列表
					</div>
					
					<div class="panel-body" >
						<div class="table-responsive">
							<table class="table table-condensed">
								<tr>
								  <td>用户名</td>
								  <td>发生时间</td>
								  <td>发生额度</td>
								  <td>当前余额</td>
								  <td>方式</td>
								  <td>牌局编号</td>	
                                  <td>轮次号</td>
                                  <td>对方用户</td>								  
								</tr>

                              
								   @for (var i = 0; i < @ViewBag.LoginLogListCount; i++)
						            { 
                                       <tr >
                                      <td>@ViewBag.LoginLogList[i].UserName</td>
								      <td>@ViewBag.LoginLogList[i].LoginTime</td>
								      <td>@ViewBag.LoginLogList[i].Result</td>
								      <td>@ViewBag.LoginLogList[i].Os</td>
								      <td>@ViewBag.LoginLogList[i].Browser</td>
	                                   </tr>	
 							         }                       
							</table>
						</div>
						
					</div>
				</div>
<!--积分表-->
